
button{
    width: 100%;
    height:3rem;
    padding: .5rem;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 0.03rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    
}
.button-link{
    
    margin: 1rem;
    border:none;
    background: black;
    color: white;
}